*.zip
**/hibridmodels/
**/.ipynb_checkpoints/
**/APAC_Data/
**/INMET_Data/
**/ONS_Data/
**/resultados/
**/__pycache__/
**/metrics/
**/colect_from_apac_ftp.exe
**/*.pdf
**/*.log
**/*.png
**/*.xls
**/*.xlsx
**/AutoMLResults/
**/structured_data_regressor/
**/auto_model/
.vscode/settings.json
**/*.pyc
cidades/bomjesusdalapa/INMET_NE_BA_A418_BOM JESUS DA LAPA_01-01-2020_A_31-07-2020.CSV
cidades/floripa/INMET_S_SC_A806_FLORIANOPOLIS_01-01-2020_A_31-07-2020.CSV