*.zip
**/hibridmodels/
**/.ipynb_checkpoints/
**/APAC_Data/
**/INMET_Data/
**/ONS_Data/
**/resultados/
__pycache__/
**/metrics/
**/colect_from_apac_ftp.exe
**/*.pdf
link_drive_marinho.txt
maceio/report.log
**/*.log
**/*.png
**/AutoMLResults/
**/structured_data_regressor/
**/auto_model/
.vscode/settings.json
